VITE_PGN_SOURCE_REPOSITORY=cse4504-sp26-wustl/static-pgn-view
VITE_PGN_SOURCE_BRANCH=data
VITE_PGN_SOURCE_DIRECTORY=pgn
VITE_PGN_BASE_URL=https://cdn.jsdelivr.net/gh/cse4504-sp26-wustl/static-pgn-view@data/pgn/
